/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
box-sizing:border-box;  
}


/**************/
/* HELPER CLASSES */
/**************/
.sr-only:not(:focus):not(:active) {
	clip: rect(0 0 0 0); 
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap; 
	width: 1px;
  }




/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-white: #ffffff;
	--color-background:#eeeeee;
	--color-coolblue-dark: #285dab;
	--color-coolblue:#0090e3;
	--color-coolblue-hover: #199be5;
	--color-background-vakje:#f2f7fc;
	--color-border-vakje: #dddddd;
	--color-border-hover: #bbbbbb;
	--color-text-gray: #666666;
	--color-coolblue-green: #00b900;
	--color-coolblue-darkgreen: #009900;
	--color-coolblue-orange: #ff6600;
	--color-coolblue-lightorange: #fef1e8;
}

:root {
	--font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}





/****************/
/* JOUW STYLING */
/****************/

*{
	margin: 0;
	padding: 0;
}

section{
	margin-bottom: 2em;
}

h1{
	font-family: var(--font-family);
	font-size: 1em;
	color: var(--color-coolblue-dark);
	font-weight: 1000;
}

h2 {
	font-family: var(--font-family);
	font-size: 1em;
	margin-bottom: 1em;
	margin-left: 1em;
}

h3 {
	font-family: var(--font-family);
}

p{
	font-family: var(--font-family);
	font-size: 0.90em;
}

a{
	font-family: var(--font-family);
	font-size: 0.85em;
}

strong{
	color: var(--color-coolblue-orange);
	font-weight: 600;
}

body{

}

body {
	/* background-color: red; */

}
@media only screen and (min-width: 15em) {
	body {
		/* background-color: lime; */
	}
}
@media only screen and (min-width: 30em) {
	body {
		/* background-color: yellow; */
	}
}










/* .info{
	display: flex;
	overflow-x: hidden;
} */

/* .test{
	overflow-x: hidden;
}

.test ul{
	display: flex;
	flex-direction: column;
}

.test ul li{
	display: flex;
	flex-direction: column;
} */









/*********************/
/*********************/
/* HEADER */
/*********************/
/*********************/

header{
	display: flex;
	flex-wrap: wrap;
	background-color: var(--color-coolblue);
	justify-content: space-between;
}

header>ul{
	display: flex;
	margin: 0;
	list-style: none;
}

header>form{
	order:1;
	display: flex;
	width: 100%;
	padding:0.3em;
	background-color: var(--color-background-vakje);
}

header>form>input{
	flex-grow: 1;
	border-radius: 3px 0px 0px 3px;
	border-color: var(--color-border-vakje);
	border-style: solid;
	border-width: 1px;
	padding-left: 1em;
}

header>form>button{
	height: 2.5em;
	width: 3em;
	background-color: var(--color-coolblue);
	border: none;
	border-radius: 0px 3px 3px 0px;
}

header button:hover{
	background-color: var(--color-coolblue-hover);	
}

header>form>button>svg{
	height: 60%;
	fill: var(--color-background);
}

header>nav{
	width: 10em;
	height: 2.75em;
	display: flex;
	align-items: center;
}

.items{
	display: none;
}

/* .items li button{
	background-color: transparent;
	border-style: none;
	display: flex;
} */

.items ul li{
	/* display: none; */
}

nav ul{
	display: none;
}

.extraVisible{
	display: block;
    position: fixed;
    top: 3em;
    left: 0;
    width: 100%;
    height: 100vh;
    background: red;
    z-index: 2;
	width: 20em;
}

.visible{
	top: 0em;
	height: 100%;
	width: 20em;
	position: absolute;
	display: flex;
	flex-direction: column;
	background-color: var(--color-white);
	list-style: none;
	z-index: 3;
	overflow-y: scroll;
}

.visible section{
	background-color: var(--color-coolblue);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 3em;
	position: relative;
	margin: 0;
}

.visible h3{
	color: var(--color-white);
}

.visible section button{
	position: absolute;
	right: 1em;
	width: 1em;
	height: 1em;
	border-style: none;
	background-color: transparent;
	fill: var(--color-white);
}


.visible li{
	border-bottom: 1px solid var(--color-border-vakje);
	position: relative;
}

.visible li button{
	display: flex;
	align-items: center;
	height: 4em;
	text-decoration: none;
	color: var(--color-text);
	background-color: transparent;
	border: none;
}

.visible img{
	width: 4em;
	margin-left: 1em;
}

.visible li svg{
	width: 0.5em;
	fill: var(--color-border-hover);
	position: absolute;
	right: 1em;
}

.visible p{
	text-decoration: none;
	margin-left: 1em;
}

.scroll{
	overflow-y: hidden;
}

.dark{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 3;
}

.assortiment{
	display: none;
}

header>nav>button{
	display: flex;
	justify-content:start;
	align-items: center;
	height: 2em;
	background-color: transparent;
	border: none;
	align-items: center;
	fill: var(--color-background);
	margin-left: 1em;
}

header>nav>button>svg{
	height: 80%;
	/* margin: 1em; */
}

header>a:first-of-type{
	min-width: 5.2em;
	height: 3em;
}

header>ul{
	display: flex;
	justify-content: end;
	align-items: center;
	width: 10em;
}

header>ul>li{
	margin: 0em 0.8em 0em 0em;
}

header>ul>li>button{
	width: 2.5em;
	height: 2.5em;
	background-color: transparent;
	border: none;
}

header>ul>li>button>svg{
	width: 80%;
	height: auto;
	fill: var(--color-background);
}

header>ul>li:nth-of-type(1)>button{
	position: relative;
}

header>ul>li:nth-of-type(1)>button>svg:last-of-type{
	position: absolute;
	width: 50%;
	bottom: 1.4em;
	right: 0em;
	fill: var(--color-coolblue-orange)
}











/*********************/
/*********************/
/* TEST */
/*********************/
/*********************/

.test {
	
}

.test a{
	text-decoration: none;
	color: var(--color-text);
}

.test a:hover{
	color: var(--color-coolblue);
}

.test svg{
	height: 1em;
	fill: var(--color-coolblue-green);
}

.test ul{
	margin-top: 1em;
	padding: 0em 1em 0em 1em;
	list-style: none; 
}

.test ul:nth-of-type(2){
	margin-top: 1em;
	display: flex;
	justify-content: space-evenly;
}

.test ul:nth-of-type(2) li a{
	color: var(--color-coolblue);
	font-weight: 600;
}

.test ul:nth-of-type(2) li a:hover{
	text-decoration: underline;
}










/*********************/
/*********************/
/* INFO */
/*********************/
/*********************/

.info ul{
	display: flex;
	list-style: none;
	overflow-x: auto;
	flex-wrap: nowrap;
	scroll-snap-type: mandatory;
	gap: 1em;
	padding: 0em 1em 0em 1em;
}

.info ul li{
	scroll-snap-align: center;
}

.info ul:first-of-type li a:first-of-type {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	border: 1px solid var(--color-border-vakje);
	border-radius: 5px;
	text-decoration: none;
	color: var(--color-coolblue);
}

.info img{
	width: 20em;
	grid-column-start: 1;
	grid-row-start: 1;
	position: relative;
	border-radius: 5px;
}

.info a p{
	max-width: 13em;
	position: relative;
	grid-column-start: 1;
	grid-row-start: 1;
	z-index: 2;
	justify-self: start;
	align-self: center;
	padding-left: 1em;
}

.info li{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.info ul li a:first-of-type:hover{
	border-color: var(--color-border-hover);
	filter: drop-shadow(1px 1px 2px var(--color-border-hover));
}

.info li a:nth-of-type(2) {
	margin-top: 1em;
	text-decoration: none;
	color: var(--color-text);

}

.info li a:nth-of-type(2):hover {
	color: var(--color-coolblue);
}

.info li a:nth-of-type(2) svg {
	height: 1em;
	fill: var(--color-coolblue);
}








/*********************/
/*********************/
/*BLADER DOOR ONZE CATEGORIEËN*/
/*********************/
/*********************/

.blader h2{
}

.blader>ul{
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	align-items: center;
	justify-content: center;
	gap: 1em;
	margin-bottom: 1em;
}


.blader>ul li a{
	width: 13.5em;
	height: 10em;
	background-color: var(--color-background-vakje);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	border-radius: 5px;
	border-color: var(--color-border-vakje);
	border-style: solid;
	border-width: 1px;
	text-align: center;
	text-decoration: none;
	overflow-x: hidden;
	overflow-y: hidden;
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/filter-function/drop-shadow */

.blader>ul li a:hover{
	border-color: var(--color-border-hover);
	filter: drop-shadow(1px 1px 2px var(--color-border-hover));
}


.blader>ul li a img{
	width: 160px;
	height: 100px;
}

.blader>ul li a p{
	background-color: white;
	font-weight: 600;
	width: 20em;
	padding: 1.4em 0em 1.4em 0em;
	color: 	var(--color-coolblue);
}

.blader>a {
	color: var(--color-coolblue);
	text-decoration: none;
	margin-left: 1em;
}

.blader>a:hover {
	text-decoration: underline;
}











/*********************/
/*********************/
/* Ontdek de verschillende merken */
/*********************/
/*********************/

.ontdek{
	display: flex;
	flex-direction: column;
}

.ontdek>ul{
	list-style: none;
	padding: 0;
	display: flex;
	flex-direction: row;
	overflow-x: auto;
	flex-wrap: nowrap;
	min-height: 350px;
	/* overscroll-behavior: contain;
	scroll-snap-type: x mandatory; */
}

.ontdek>ul>li{
	width: 80%;
	min-width: 15em;
	max-width: 20em;
	margin: 0em 1em 1em 1em;
	border-radius: 10px;
	border-color: var(--color-border-vakje);
	border-style: solid;
	border-width: 1px;
	background-color: rgb(255, 255, 255);
}

.ontdek>ul>li:hover{
	border-color: var(--color-border-hover);
	filter: drop-shadow(1px 1px 2px var(--color-border-hover));
}

.ontdek>ul>li a{
	display: flex;
	flex-direction: column;
	align-items: start;
}

.ontdek>ul>li>a:first-of-type{
	text-decoration: none;
}

.ontdek>ul>li img{
	width: 100%;
	height: auto;
	border-radius: 10px 10px 0px 0px;

}

.ontdek>ul>li p{
	background-color: white;
	color: #000;
	margin: 0em 1em 0em 1em;
}

.ontdek>ul>li h3{
	background-color: white;
	color: var(--color-coolblue);
	font-weight: 600;
	font-size: 0.85em;
	margin: 1em;
}

.ontdek>ul>li>a:not(:first-of-type){
	text-decoration: none;
}

.ontdek>ul>li ul{
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	padding: 1em;
}

.ontdek>ul>li ul li{
	font-family: var(--font-family);
}

.ontdek>ul>li ul li:not(:last-of-type){
	padding-right:1em; 
	margin-right: 1em;
	border-color: var(--color-border-vakje);
	border-right-style: solid;
	border-width: 1px;
}

.ontdek>ul>li ul li a{
	text-decoration: none;
	color: var(--color-coolblue);
	font-size: 0.85em;

}

.ontdek>a {
	color: var(--color-coolblue);
	text-decoration: none;
	margin-left: 1em;
}












/*********************/
/*********************/
/* Dit heb je eerder bekeken */
/*********************/
/*********************/

.eerder{
}

.eerder>section{
	display: flex;
	overflow-x: scroll;
}

.eerder>section section{
	display: flex;
	flex-direction: column;
	min-width: 15em;
	min-height: 10em;
	margin-left: 1em;
}

.eerder section section:first-of-type a:first-of-type{

}

.eerder section section:first-of-type a:nth-of-type(2){
	color: var(--color-coolblue);
	text-decoration: none;
	font-weight: 600;
	font-size: 1em;
}

.eerder section section:first-of-type a:nth-of-type(3){
	color: var(--color-coolblue);
	text-decoration: none;
}

.eerder section section:first-of-type p:nth-of-type(1){
	font-weight: 1000;
	font-size: 1em;
}

.eerder section section:first-of-type p:nth-of-type(2){
	color: var(--color-coolblue-green);
	text-decoration: none;
	font-weight: 600;
	font-size: 1em;
}

.eerder section section:first-of-type a:first-of-type img{
	width: 10em;
}

.eerder section section:nth-of-type(2){
	background-color: var(--color-background-vakje);
	padding: 1em;
	border-radius: 10px;
}

.eerder section section:nth-of-type(2) a:first-of-type{
	background-color: var(--color-coolblue-green);
	padding: 1em;
	text-align: center;
	margin: 1em 0em 1em 0em;
	color: var(--color-background);
	text-decoration: none;
	border-radius: 5px;
	filter: drop-shadow(0em 0.2em var(--color-coolblue-darkgreen));
}

.eerder section section:nth-of-type(2) a:nth-of-type(2){
	text-decoration: none;
	color: var(--color-coolblue);
}

.eerder svg{
	height: 1em;
	fill: var(--color-coolblue-green);
}

.eerder svg path:nth-of-type(2){
	fill: var(--color-white);
}

.eerder svg:nth-of-type(5) path:nth-of-type(2){
	fill: var(--color-border-vakje)
}

.eerder svg:nth-of-type(5) path:nth-of-type(3){
	fill: var(--color-white)
}





/*********************/
/*********************/
/* Studenten */
/*********************/
/*********************/

.studenten{
	
}

.studenten>section{
	position: relative;
}

.studenten>section>img{
	position: absolute;
	overflow-x: hidden;
	width: 100%;
}

.studenten ul {
	position: relative;
	display: flex;
	overflow-x: auto;
	top: 10em;
	gap: 1em;
}

.studenten li {
	display: flex;
	flex-direction: column;
	background-color: var(--color-white);
	width: 20em;
	height: 20em;
	padding: 1em;
}

.studenten li a:first-of-type {
	display: flex;
	justify-content: center;	
}

.studenten li a {
	text-decoration: none;
}

.studenten li img{
	height: 10em;
}

.studenten ul li a:nth-of-type(2){
	color: var(--color-coolblue);
	text-decoration: none;
	font-weight: 600;
	font-size: 1em;
}

.studenten ul li a:nth-of-type(3){
	color: var(--color-coolblue);
	text-decoration: none;
}

.studenten svg{
	height: 1em;
	fill: var(--color-coolblue-green);
}

.studenten svg path:nth-of-type(2){
	fill: var(--color-white);
}

.studenten svg:nth-of-type(5) path:nth-of-type(2){
	fill: var(--color-border-vakje)
}

.studenten svg:nth-of-type(5) path:nth-of-type(3){
	fill: var(--color-white)
}










/*********************/
/*********************/
/* stofzuiger */
/*********************/
/*********************/

.stofzuiger{
	margin: 1em
}

.stofzuiger svg{
	height: 1em;
	fill: var(--color-coolblue-green);
}

.stofzuiger svg path:nth-of-type(2){
	fill: var(--color-white);
}

.stofzuiger svg:nth-of-type(5) path:nth-of-type(2){
	fill: var(--color-border-vakje)
}

.stofzuiger svg:nth-of-type(5) path:nth-of-type(3){
	fill: var(--color-white)
}

.stofzuiger a{
	text-decoration: none;
}

.stofzuiger section>img{
	width: 80%;
}

.stofzuiger section button img{
	width: 80%;
}

.stofzuiger section button:not(:first-of-type){
	border: 1px solid var(--color-border-vakje);
	border-radius: 5px;
	background-color: transparent;
}

.stofzuiger section>button:first-of-type{
	padding: 4px;
	border-style: none;
	border-radius: 5px;
	background-color: var(--color-coolblue-lightorange);
	color: var(--color-coolblue-orange);
	font-weight: 600;
}

.stofzuiger s{
	color:var(--color-text-gray)
}

.stofzuiger section>p>strong {
	color: var(--color-text);
	font-weight: 600;
}

.stofzuiger ul{
	list-style: none;
}

.stofzuiger section section{
	position: fixed;
	bottom: 0em;
	display: flex;
	width: 100%;
	gap: 1em;
}

.stofzuiger section section button:first-of-type{
	width: 80%;
	height: 4em;
	background-color: #00b900;
	color: var(--color-white);
}

.stofzuiger section section button svg{
	fill: var(--color-white);
}

.stofzuiger section section button{
	width: 20%;
}