/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
box-sizing:border-box;  
}


/**************/
/* HELPER CLASSES */
/**************/
.sr-only:not(:focus):not(:active) {
	clip: rect(0 0 0 0); 
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	white-space: nowrap; 
	width: 1px;
  }




/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-white: #ffffff;
	--color-background:#eeeeee;
	--color-coolblue-dark: #285dab;
	--color-coolblue:#0090e3;
	--color-coolblue-hover: #199be5;
	--color-background-vakje:#f2f7fc;
	--color-border-vakje: #dddddd;
	--color-border-hover: #bbbbbb;
	--color-text-gray: #666666;
	--color-coolblue-green: #00b900;
	--color-coolblue-darkgreen: #009900;
	--color-coolblue-darkerdarkgreen: #008500;
	--color-coolblue-orange: #ff6600;
	--color-coolblue-lightorange: #fef1e8;
}

:root {
	--font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}





/****************/
/* JOUW STYLING */
/****************/

*{
	margin: 0;
	padding: 0;
}

main>section{
	margin-bottom: 2em;
}

h1{
	font-family: var(--font-family);
	font-size: 1em;
	color: var(--color-coolblue-dark);
	font-weight: 1000;
}

h2 {
	font-family: var(--font-family);
	font-size: 1em;
	margin-bottom: 1em;
	margin-left: 1em;
}

h3 {
	font-family: var(--font-family);
}

p{
	font-family: var(--font-family);
	font-size: 0.90em;
}

a{
	font-family: var(--font-family);
	font-size: 0.85em;
}

strong{
	color: var(--color-coolblue-orange);
	font-weight: 600;
}












/*********************/
/*********************/
/* HEADER */
/*********************/
/*********************/

header{
	display: flex;
	flex-wrap: wrap;
	background-color: var(--color-coolblue);
	justify-content: space-between;
}

header>ul{
	display: flex;
	margin: 0;
	list-style: none;
}

header>form{
	order:1;
	display: flex;
	width: 100%;
	padding:0.3em;
	background-color: var(--color-background-vakje);
}

header>form>input{
	flex-grow: 1;
	border-radius: 3px 0px 0px 3px;
	border-color: var(--color-border-vakje);
	border-style: solid;
	border-width: 1px;
	padding-left: 1em;
}

header>form>button{
	height: 2.5em;
	width: 3em;
	background-color: var(--color-coolblue);
	border: none;
	border-radius: 0px 3px 3px 0px;
}

header button:hover{
	background-color: var(--color-coolblue-hover);	
}

header>form>button>svg{
	height: 60%;
	fill: var(--color-background);
}

header>nav{
	width: 9em;
	height: 2.75em;
	display: flex;
	align-items: center;
}

.items{
	display: none;
}

nav ul{
	display: none;
}

.extraVisible{
	display: block;
    position: fixed;
    top: 3em;
    left: 0;
    width: 100%;
	background-color: var(--color-white);
    height: 100vh;
    z-index: 2;
	width: 20em;
}

.extraVisible li:not(:first-of-type){
	display: flex;
	align-items: center;
	height:3em;
}

.extraVisible li button{
	justify-content: center;
	font-size: 0.8em;
	position: absolute;
	right: 1.5em;
	width: 4em;
	color: var(--color-white);
}

.visible{
	top: 0em;
	height: 100%;
	width: 20em;
	position: absolute;
	display: flex;
	flex-direction: column;
	background-color: var(--color-white);
	list-style: none;
	z-index: 3;
	overflow-y: scroll;
}

.visible li:first-of-type{
	background-color: var(--color-coolblue);
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	margin: 0;
}

.visible h3{
	color: var(--color-white);
	line-height: 2.5em;
}

.visible>li:first-of-type button{
	position: absolute;
	right: 1em;
	width: 1em;
	height: 1em;
	border-style: none;
	background-color: transparent;
	fill: var(--color-white);
}

.visible li{
	border-bottom: 1px solid var(--color-border-vakje);
	position: relative;
}

.visible li button{
	display: flex;
	align-items: center;
	height: 4em;
	text-decoration: none;
	background-color: transparent;
	border: none;
}

.visible img{
	width: 4em;
	margin: 0em 1em 0em 1em;
}

.visible li svg{
	width: 0.5em;
	fill: var(--color-border-hover);
	position: absolute;
	right: 1em;
}

.visible li:first-of-type svg{
	width: 1.25em;
	fill: var(--color-white);
	right: 0em;
}

.visible p{
	text-decoration: none;
	margin-left: 1em;
}

.scroll{
	overflow-y: hidden;
}

.dark{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 3;
}

.assortiment{
	display: none;
}

@media only screen and (min-width: 55em) {
	.extraVisible {
		width: 35%
	}
	.visible {
		width: 35%
	}
	.visible>li>button{
		height: 5em;
		font-size: 1em;
	}

}

@media only screen and (max-width: 75em) {
	.visible li:first-of-type{
		justify-content: start;
		padding-left: 1em;
	}
}

header>nav>button{
	display: flex;
	justify-content:start;
	align-items: center;
	height: 2em;
	background-color: transparent;
	border: none;
	align-items: center;
	fill: var(--color-background);
	margin-left: 1em;
}

header>nav>button>svg{
	height: 80%;
}

header>a:first-of-type{
	min-width: 5.2em;
	height: 3em;
}

header>ul{
	display: flex;
	justify-content: end;
	align-items: center;
	width: 9em;
}

header>ul>li{
	margin: 0em 0.8em 0em 0em;
}

header>ul>li>button{
	width: 2.5em;
	height: 2.5em;
	background-color: transparent;
	border: none;
}

header>ul>li>button>svg{
	width: 80%;
	height: auto;
	fill: var(--color-background);
}

header>ul>li:nth-of-type(1)>button{
	position: relative;
}

header>ul>li:nth-of-type(1)>button>svg:last-of-type{
	position: absolute;
	width: 50%;
	bottom: 1.4em;
	right: 0em;
	fill: var(--color-coolblue-orange)
}














/*********************/
/*********************/
/* BOVENKANT INFO */
/*********************/
/*********************/


.bovenkantinfo a{
	text-decoration: none;
	color: var(--color-text);
}

.bovenkantinfo a:hover{
	color: var(--color-coolblue);
}

.bovenkantinfo svg{
	height: 1em;
	fill: var(--color-coolblue-green);
}

.bovenkantinfo ul{
	margin-top: 1em;
	padding: 0em 1em 0em 1em;
	list-style: none;
}

.bovenkantinfo ul:nth-of-type(2){
	margin-top: 1em;
	display: flex;
	justify-content: space-evenly;
}

.bovenkantinfo ul:nth-of-type(2) li a{
	color: var(--color-coolblue);
	font-weight: 600;
}

.bovenkantinfo ul:nth-of-type(2) li a:hover{
	text-decoration: underline;
}

@media only screen and (min-width: 45em) {
	.bovenkantinfo ul:first-of-type{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		column-gap: 1em;
	}
}

@media only screen and (max-width: 30em) {

	.bovenkantinfo ul:nth-of-type(2){
		align-items: center;
		flex-direction: column;
		gap: 1em;
	}
}














/*********************/
/*********************/
/* INFO */
/*********************/
/*********************/

.info ul{
	display: flex;
	list-style: none;
	overflow-x: auto;
	flex-wrap: nowrap;
	gap: 1em;
	padding: 0em 1em 0em 1em;
}

.info ul li{
	scroll-snap-align: center;
}

.info ul:first-of-type li a:first-of-type {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	border: 1px solid var(--color-border-vakje);
	border-radius: 5px;
	text-decoration: none;
	color: var(--color-coolblue);
}

.info img{
	width: 20em;
	grid-column-start: 1;
	grid-row-start: 1;
	position: relative;
	border-radius: 5px;
}

.info a p{
	max-width: 13em;
	position: relative;
	grid-column-start: 1;
	grid-row-start: 1;
	z-index: 2;
	justify-self: start;
	align-self: center;
	padding-left: 1em;
}

.info li{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.info ul li a:first-of-type:hover{
	border-color: var(--color-border-hover);
	filter: drop-shadow(1px 1px 2px var(--color-border-hover));
}

.info li a:nth-of-type(2) {
	margin-top: 1em;
	text-decoration: none;
	color: var(--color-text);

}

.info li a:nth-of-type(2):hover {
	color: var(--color-coolblue);
}

.info li a:nth-of-type(2) svg {
	height: 1em;
	fill: var(--color-coolblue);
}

@media only screen and (min-width: 66em) {
	.info{
		display: flex;
		justify-content: center;
	}

}

@media only screen and (min-width: 66em) {
	main{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	main>section{
		width: 80%;
	}

}














/*********************/
/*********************/
/*BLADER DOOR ONZE CATEGORIEËN*/
/*********************/
/*********************/

.blader h2{
}

.blader>ul{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	list-style: none;
	padding: 1em;
	gap: 1em;
	margin-bottom: 1em;
	overflow-x: auto;
}

.blader>ul li{
	display: flex;
	align-items: center;
	justify-content: center;
}

@media only screen and (min-width: 52em) {
	.blader>ul{
		display: flex;
		justify-content: center;
		justify-content: space-between;
	}
}

.blader>ul li a{
	width: 13.5em;
	height: 10em;
	background-color: var(--color-background-vakje);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	border-radius: 5px;
	border-color: var(--color-border-vakje);
	border-style: solid;
	border-width: 1px;
	text-align: center;
	text-decoration: none;
	overflow-x: hidden;
	overflow-y: hidden;
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/filter-function/drop-shadow */

.blader>ul li a:hover{
	border-color: var(--color-border-hover);
	filter: drop-shadow(1px 1px 2px var(--color-border-hover));
}


.blader>ul li a img{
	width: 160px;
	height: 100px;
}

.blader>ul li a p{
	background-color: white;
	font-weight: 600;
	width: 20em;
	padding: 1.4em 0em 1.4em 0em;
	color: 	var(--color-coolblue);
}

.blader>a {
	color: var(--color-coolblue);
	text-decoration: none;
	margin-left: 1em;
}

.blader>a:hover {
	text-decoration: underline;
}

.blader svg{
	height: 1em;
	fill: var(--color-coolblue);
}

@media only screen and (max-width: 96em) {
	.blader ul li:nth-of-type(6){
		display: none;
	}
}

@media only screen and (max-width: 80em) {
	.blader ul li:nth-of-type(5){
		display: none;
	}
}
















/*********************/
/*********************/
/* Ontdek de verschillende merken */
/*********************/
/*********************/

.ontdek{
	display: flex;
	flex-direction: column;
	position: relative;
}

.ontdek>button{
	position: absolute;
}

.ontdek>button:nth-of-type(1){
	left: 1em;
	top: 40%;
	transform: rotate(180deg);
	background-color: var(--color-white);
	border-radius: 1em 0em 0em 1em;
	width: 4em;
	height: 3em;
	border: 1px solid var(--color-coolblue);
	z-index: 3;
}

.ontdek>button:nth-of-type(2){
	right: 1em;
	top: 40%;
	background-color: var(--color-white);
	border-radius: 1em 0em 0em 1em;
	width: 4em;
	height: 3em;
	border: 1px solid var(--color-coolblue);
	z-index: 3;
}

.ontdek svg{
	width: 1em;
	fill: var(--color-coolblue);
}

.ontdek svg:last-of-type{
	height: 1em;
}

.ontdek>ul{
	list-style: none;
	padding: 0;
	display: flex;
	flex-direction: row;
	overflow-x: auto;
	flex-wrap: nowrap;
	min-height: 350px;
}

.ontdek>ul>li{
	width: 80%;
	min-width: 15em;
	max-width: 30em;
	margin: 0em 1em 1em 1em;
	border-radius: 10px;
	border-color: var(--color-border-vakje);
	border-style: solid;
	border-width: 1px;
	background-color: rgb(255, 255, 255);
}

.ontdek>ul>li:hover{
	border-color: var(--color-border-hover);
	filter: drop-shadow(1px 1px 2px var(--color-border-hover));
}

.ontdek>ul>li a{
	display: flex;
	flex-direction: column;
	align-items: start;
}

.ontdek>ul>li>a:first-of-type{
	text-decoration: none;
}

.ontdek>ul>li img{
	width: 100%;
	height: auto;
	border-radius: 10px 10px 0px 0px;

}

.ontdek>ul>li p{
	background-color: white;
	color: #000;
	margin: 0em 1em 0em 1em;
}

.ontdek>ul>li h3{
	background-color: white;
	color: var(--color-coolblue);
	font-weight: 600;
	font-size: 0.85em;
	margin: 1em;
}

.ontdek>ul>li>a:not(:first-of-type){
	text-decoration: none;
}

.ontdek>ul>li ul{
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	padding: 1em;
}

.ontdek>ul>li ul li{
	font-family: var(--font-family);
}

.ontdek>ul>li ul li:not(:last-of-type){
	padding-right: 1em; 
	margin-right: 1em;
	border-color: var(--color-border-vakje);
	border-right-style: solid;
	border-width: 1px;
}

.ontdek>ul>li ul li a{
	text-decoration: none;
	color: var(--color-coolblue);
	font-size: 0.85em;

}

.ontdek>a {
	color: var(--color-coolblue);
	text-decoration: none;
	margin-left: 1em;
}

@media only screen and (min-width: 51em) {
	.buttonleft{
		display: none;
	}
	.buttonright{
		display: none;
	}
}















/*********************/
/*********************/
/* Dit heb je eerder bekeken */
/*********************/
/*********************/


.eerder>section{
	display: flex;
	overflow-x: auto;
	margin: 0em 1em 0em 1em;
}

.eerder>section section{
	display: flex;
	flex-direction: column;
	max-width: 15em;
	min-width: 15em;
	min-height: 10em;
}

.eerder section section:first-of-type a:nth-of-type(2){
	color: var(--color-coolblue);
	text-decoration: none;
	font-weight: 600;
	font-size: 1em;
}

.eerder section section:first-of-type a:nth-of-type(3){
	color: var(--color-coolblue);
	text-decoration: none;
}

.eerder section section:first-of-type p:nth-of-type(1){
	font-weight: 1000;
	font-size: 1em;
}

.eerder section section:first-of-type p:nth-of-type(2){
	color: var(--color-coolblue-green);
	text-decoration: none;
	font-weight: 600;
	font-size: 1em;
}

.eerder section section:first-of-type a:first-of-type img{
	width: 10em;
}

.eerder section section:nth-of-type(2){
	background-color: var(--color-background-vakje);
	padding: 1em;
	border-radius: 10px;
}

.eerder section section:nth-of-type(2) a:first-of-type{
	background-color: var(--color-coolblue-green);
	padding: 1em;
	text-align: center;
	margin: 1em 0em 1em 0em;
	color: var(--color-background);
	text-decoration: none;
	border-radius: 5px;
	filter: drop-shadow(0em 0.2em var(--color-coolblue-darkgreen));
}

.eerder section section:nth-of-type(2) a:nth-of-type(2){
	text-decoration: none;
	color: var(--color-coolblue);
}

.eerder svg{
	height: 1em;
	fill: var(--color-coolblue-green);
}

.eerder svg path:nth-of-type(2){
	fill: var(--color-white);
}

.eerder svg:nth-of-type(5) path:nth-of-type(2){
	fill: var(--color-border-vakje)
}

.eerder svg:nth-of-type(5) path:nth-of-type(3){
	fill: var(--color-white)
}













/*********************/
/*********************/
/* Studenten */
/*********************/
/*********************/


.studenten>section{
	background-color: var(--color-coolblue);
	padding: 1em 0em 1em 1em;
	display: flex;
	gap: 3em;
}

.studenten>p{
	margin-left: 1em;
}

.studenten ul {
	display: flex;
	overflow-x: auto;
	gap: 1em;
}

.studenten li {
	display: flex;
	flex-direction: column;
	background-color: var(--color-white);
	min-width: 20em;
	height: 20em;
	padding: 1em;
	border-radius: 5px;
}

.studenten li a:first-of-type {
	display: flex;
	justify-content: center;	
}

.studenten li a {
	text-decoration: none;
}

.studenten li img{
	height: 10em;
}

.studenten ul li a:nth-of-type(2){
	color: var(--color-coolblue);
	text-decoration: none;
	font-weight: 600;
	font-size: 1em;
}

.studenten ul li a:nth-of-type(3){
	color: var(--color-coolblue);
	text-decoration: none;
}

.studenten svg{
	height: 1em;
	fill: var(--color-coolblue-green);
}

.studenten svg path:nth-of-type(2){
	fill: var(--color-white);
}

.studenten svg:nth-of-type(5) path:nth-of-type(2){
	fill: var(--color-border-vakje)
}

.studenten svg:nth-of-type(5) path:nth-of-type(3){
	fill: var(--color-white)
}

.studenten section section{
	gap: 1em;
}

.studenten section section p:first-of-type{
	margin-bottom: 1em;
	color: var(--color-white);
	font-size: 1.5em;
	font-weight: 600;
}

.studenten section section p:first-of-type span{
	background-color: var(--color-coolblue-orange);
	padding: 0.2em;
}

.studenten section section h3{
	color: var(--color-white);
	margin-bottom: 1em;
	font-size: 2em;
}

.studenten section section p{
	color: var(--color-white);
}

.studenten section ul li p:nth-of-type(1){
	font-size: 1em;
	font-weight: 600;
}

.studenten section ul li p:nth-of-type(2){

}

@media only screen and (max-width: 30em) {
	.studenten section section h3{
		font-size: 1em;
	}
}


@media only screen and (max-width: 50em) {

	.studenten section section{
		flex-direction: column;
	}

	.studenten section section p:first-of-type{
		margin-bottom: 0em;
	}

	.studenten section section h3{
		margin-bottom: 0em;
	}
	
	.studenten>section{
		padding: 1em 0em 1em 1em;
	}
}

@media only screen and (max-width: 62em) {
	.studenten>section{
		flex-direction: column;
		gap: 1em;
	}

	.studenten ul{
		overflow-x: auto;
	}

	.studenten section section{
		display: flex;
		justify-content: space-between;
		align-items: center;
		justify-content: center;
	}

	.studenten section section h3{
		text-align: center;
		margin-bottom: 0em;
	}

	.studenten section section p:first-of-type{
		margin-bottom: 0em;
	}
}

@media only screen and (min-width: 62em) {
	.studenten>section{
		align-items: center;
	}
}















/*********************/
/*********************/
/* stofzuiger */
/*********************/
/*********************/

.stofzuiger{
	margin: 1em
}

.stofzuiger h1{
	font-size: 2em;
}

.reviews h2{
	margin-left: 0em;
}

.stofzuiger svg{
	height: 1em;
	fill: var(--color-coolblue-green);
}

.stofzuiger svg path:nth-of-type(2){
	fill: var(--color-white);
}

.stofzuiger svg:nth-of-type(5) path:nth-of-type(2){
	fill: var(--color-border-vakje)
}

.stofzuiger svg:nth-of-type(5) path:nth-of-type(3){
	fill: var(--color-white)
}

.stofzuiger a{
	text-decoration: none;
	color: var(--color-text);
}

.stofzuiger section>img{
	width: 80%;
	max-width: 20em;
}

.stofzuiger section button img{
	width: 80%;
}

.stofzuiger section section section button{
	border: 1px solid var(--color-border-vakje);
	border-radius: 5px;
	background-color: transparent;
}

.section1 section:not(:first-of-type){
	display: flex;
}

.section1 section:not(:first-of-type) section{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.stofzuiger .section1>button:first-of-type{
	padding: 4px;
	border-style: none;
	border-radius: 5px;
	background-color: var(--color-coolblue-lightorange);
	color: var(--color-coolblue-orange);
	font-weight: 600;
	position: absolute;
}

.stofzuiger s{
	color:var(--color-text-gray)
}

.stofzuiger section>p>strong {
	color: var(--color-text);
	font-weight: 600;
}

.stofzuiger ul{
	list-style: none;
	margin: 1em 0em 1em 0em;
}

.stofzuiger>section:not(:first-of-type) section{
	z-index: 3;
}

.stofzuiger>section:not(:first-of-type) section button:first-of-type{
	width: 80%;
	height: 4em;
	background-color: #00b900;
	color: var(--color-white);
}

.stofzuiger>section:not(:first-of-type) section button svg{
	fill: var(--color-white);
}

.stofzuiger>section:not(:first-of-type) section button{
	width: 20%;
}

.stofzuiger>section>p:nth-of-type(2){
	color: var(--color-coolblue-darkerdarkgreen);
	font-weight: 600;
	margin: 1em 0em 0em 0em;
}

.stofzuiger>section>p:nth-of-type(2) svg{
	fill: var(--color-coolblue-darkerdarkgreen);
}

.stofzuiger>section>p:nth-of-type(3) a{
	color: var(--color-coolblue)
}

.stofzuiger>section>a{
	color: var(--color-coolblue);
}

.stofzuiger>section>a strong{
	color: var(--color-text);
}

.stofzuiger section:first-of-type section a{
	border-color: var(--color-border-vakje);
	border-right-style: solid;
	border-width: 1px;
	margin-right: 1em;
	padding-right: 1em;
	color: var(--color-coolblue);
}

.stofzuigerlinks>ul{
	display: flex;
	flex-wrap: wrap;
	column-gap: 1em;
	list-style: none;
}

.stofzuigerlinks>ul li button{
	background-color: transparent;
	border: none;
	color: var(--color-coolblue);
	font-weight: 600;
}

.stofzuigerlinks>ul li button:hover{
	text-decoration: underline;
}

.stofzuiger .onderaan{
	width: 80%;
	position: fixed;
	bottom: 0.5em;
	display: flex;
	gap: 1em;
	left: 10vw;
}

.stofzuiger .onderaan .winkelwagenbutton{
	border: none;
	border-radius: 5px;
	filter: drop-shadow(0em 0.2em var(--color-coolblue-darkgreen));
}

.stofzuiger .onderaan button:nth-of-type(2){
	border: 1px solid var(--color-coolblue);
	background-color: var(--color-white);
	filter: drop-shadow(0em 0.2em var(--color-coolblue));
}

.stofzuiger .onderaan button:nth-of-type(2) svg{
	fill: var(--color-coolblue);
	height: 1.6em;
}

@media only screen and (max-width: 66em) {
	.stofzuiger .onderaan{
		width: 93%;
		left: 3vw;
	}
	.stofzuigerlinks{
		margin-left: 1em;
	}

	.reviews{
		margin-left: 1em;
	}
}

main>span{
	background-color: var(--color-coolblue-orange);
	border-radius: 100px;
	width: 1em;
	height: 1em;
	display: none;
	justify-content: center;
	color: var(--color-white);
}

/* https://codepen.io/shooft/pen/NWePYRO */
@keyframes notification {
	0%{
		position: absolute;
		right: 0.5em;
		top: 0.2em;
	}
	50%{
		transform: scale(3);
	}
	100%{
		transform: scale(1);
	}
}

main .microinteractie{
	position: absolute;
	display: flex;
	right: 0.5em;
	top: 0.2em;
	animation-name: notification;
	animation-duration: 1s;
	animation-iteration-count: 1;
	font-family: var(--font-family);
}

.ophalen{
	background-color: var(--color-white);
	border-color: var(--color-coolblue);
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	padding: 1em;
	color: var(--color-coolblue);
	filter: drop-shadow(0em 0.2em var(--color-coolblue));
}

@media only screen and (min-width: 66em) {
	.stofzuiger{
		display: flex;
		justify-content: space-between;
	}
}

.reviews a{
	text-decoration: none;
	color: var(--color-coolblue);
}

.reviews a:hover{
	text-decoration: underline;
}

.reviews svg{
	height: 1em;
	fill: var(--color-coolblue-green);
}

.reviews svg path:nth-of-type(2){
	fill: var(--color-white);
}

.reviews svg:nth-of-type(5) path:nth-of-type(2){
	fill: var(--color-border-vakje)
}

.reviews svg:nth-of-type(5) path:nth-of-type(3){
	fill: var(--color-white)
}

.reviews ul{
	list-style: none;
	font-family: var(--font-family);
}

.reviews ul li{
	display: flex;
	gap: 1em;
	position: relative;
	width: 30em;
}

.reviews ul li p{
	width: 6em;
}

.reviews ul li section span:first-of-type{
	background-color: var(--color-border-vakje);
	display: flex;
	width: 10em;
	height: 0.5em;
	border-radius: 50px;
}

.reviews ul li section span:nth-of-type(2){
	background-color: var(--color-coolblue-green);
	display: flex;
	height: 0.5em;
	top: 0em;
	position: absolute;
	border-radius: 5000px;
}

.reviews ul li:nth-of-type(1) section span:nth-of-type(2){
	width: 5em;
}

.reviews ul li:nth-of-type(2) section span:nth-of-type(2){
	width: 3.5em;
}

.reviews ul li:nth-of-type(3) section span:nth-of-type(2){
	width: 0.5em;
}

.reviews ul li:nth-of-type(4) section span:nth-of-type(2){
	width: 0em;
}

.reviews ul li:nth-of-type(5) section span:nth-of-type(2){
	width: 0.1em;
}
